# ignoring output images and output folder
output/

# ignore test folder 
test/

# ignore the testImage.jpg or png
testImage*

# ignore pycache folder
__pycache__/

#ignore configuration files
config.json